<!DOCTYPE html>
<html lang="he">
<head>
    
    <title> GoldenMatch</title>
    <style>
        body {
            background-color: #FCB454;
            text-align: center;
        }

        header {
            background-color: #F16767;
            }
       
    </style>
</head> 
<body>
    <header>
        <h1 style="color: #f2f2f2;">ברוכים הבאים לאתר ההיכרויות לגיל השלישי</h1>
        <p style="color: #f2f2f2; font-size: 50px;">GoldenMatch
    </header>

    <nav>
        <ul>
            <li><a href="/">עמוד הבית</a></li>
            <li><a href="/views/profile_page.html">עריכת פרופיל</a></li>
            <li><a href="/views/scroll_profiles.html">דפדוף בפרופילים</a></li>
        </ul>
    </nav>


</body>
</html>
